<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <joint name="imu_joint" type="fixed">
        <parent link="base_link"/>
        <child link="imu_link"/>
        <origin xyz="0.08 0.07 0.09"/> 
    </joint>

    <link name="imu_link">
        <visual>
            <geometry>
                <box size="0.015 0.02 0.003"/>
            </geometry>
            <material name="white" />
        </visual>
        <collision>
            <geometry>
                <box size="0.015 0.02 0.003"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.05" x="0.015" y="0.02" z="0.003">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        </xacro:inertial_box>
    </link>

    <gazebo reference="imu_link">
        <material>Gazebo/White</material>

        <sensor name="imu" type="imu">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>100</update_rate>
            <always_on>true</always_on>
            <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
                <ros>
                    <argument>--ros-args</argument>
                    <argument>-r</argument>
                    <argument>~/out:=imu_data</argument>
                </ros>
                <updateRateHZ>10.0</updateRateHZ>
                <gaussianNoise>0.0</gaussianNoise>
                <xyzOffset>0 0 0</xyzOffset>
                <rpyOffset>0 0 0</rpyOffset>
                <frameName>imu_link</frameName>
                <initialOrientationAsReference>false</initialOrientationAsReference>
            </plugin>
        </sensor>
    </gazebo>


</robot>
